<div class="container">
    <div class="models-header">
        <div class="add-btn ">
            <div class="btn btn-primary d-flex align-center w-fit" (click)="openAddModal()">
                Add new model 
                <mat-icon aria-hidden="false" class="ml-3" fontIcon="add"></mat-icon>
            </div>
        </div>

        <mat-form-field class="example-full-width">
            <mat-label>Search by name</mat-label>
            <input [formControl]="searchControl" matInput >
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Name
          </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="trainingSet" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by training image set">
                Training image set
            </th>
            <td class="imageSetHover" mat-cell *matCellDef="let element" (click)="goToTrainingSet(element.trainingSet)"> {{element?.TrainingSet?.name || '-'}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by created At date">
                Created At
            </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'dd.MM.yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="controls">
            <th mat-header-cell *matHeaderCellDef></th>

            <td mat-cell *matCellDef="let element" class="d-flex justify-content-end h-14">
                <mat-progress-spinner
                    *ngIf="trainingStatuses[element.id]"
                    class="example-margin"
                    [color]="color"
                    [mode]="mode"
                    [value]="value"
                >
                </mat-progress-spinner>
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert"></mat-icon>
                </button>
    
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="startTraining(element.id)">Start training</button>
                    <button mat-menu-item (click)="openEditModal(element.id)">Edit</button>
                    <button mat-menu-item (click)="openDeleteModal(element.id)">Delete</button>

                </mat-menu>
            </td>

        </ng-container>

      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

</div>