.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.models-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
}

.imageSetHover {
    &:hover {
        cursor: pointer;
        background-color: #252525 ;
    }
}
