<div class="">
    <div class="controls">

        <div class="d-flex justify-content-between">
            <div class="left-controls d-flex flex-col">
                <mat-form-field >
                    <mat-label>Image set name</mat-label>
                    <input matInput  [formControl]="imageSetName" >
                    
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Select model</mat-label>
                    <mat-select [formControl]="selectedModel">
        
                        <mat-option *ngFor="let model of models" [value]="model.id">{{model.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Manual classification</mat-label>
                    <mat-select [formControl]="manualClassification" placeholder="All">
        
                        <mat-option *ngFor="let classification of manualClassifications" [value]="classification.value">{{classification.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            
            <div class="d-flex flex-col">
                <div class="mb-2">
                    <button 
                    *ngIf="selectedModel.value"
                    [disabled]="!selectedModel.value" 
                    class="btn btn-primary inference-btn mr-2 "
                    (click)="startInference()"
                    >
                        Predict dataset
                    </button>
                    <input
                        #input
                        (change)="uploadFiles($event)"
                        type="file"
                        class="full-input"
                        e2e="file-input"
                        accept=".jpg, .jpeg, .png"
                        multiple
                    />
                    <button class="btn btn-primary" (click)="input.click()">
                        Load images
                    </button>
                </div>
                <button 
                    [disabled]="canSave"
                    class="btn btn-primary mb-2"
                    (click)="save()"
                >
                    Save
                </button>
                <mat-form-field class="example-full-width">
                    <mat-label>Search by name</mat-label>
                    <input [formControl]="searchControl" matInput >
                </mat-form-field>
            </div>

        </div>

    </div>
    <app-images-list [images]="images" (onPaginationChanged)="onImagesPaginationChanged($event)" (updateImages)="updateImages()" [defaultPageSize]="imagesPageSize"></app-images-list>
</div>