img {
    width: 120px;
    height: 120px;
}

::ng-deep {
    .image-data-modal {
        & .modal-dialog {
            max-width: 1000px;
        } 
    }
}

.img-container {
    cursor: pointer;
    position: relative;

    .checkbox {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}


.green {
    box-shadow: 0 0 0 4px green;
}

.red {
    box-shadow: 0 0 0 4px red;
}

