.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.controls {
    display: flex;
    justify-content: end;
}

.image-sets-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
}